<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body background="https://images.pexels.com/photos/2779948/pexels-photo-2779948.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=1600" style="color:white">
    <div class="nav">
    <ul>
        <h2>PORTFOLIO OPTIMIZER</h2>
        <a class="nav-link" href="{% url "user" %}">HOME</a>&nbsp &nbsp &nbsp &nbsp
        <a class="nav-link" href="{% url "forecast_google" %}">GOOGLE_FORECAST</a>&nbsp &nbsp &nbsp &nbsp
        <a class="nav-link" href="{% url "forecast_cisco" %}">CISCO_FORECAST</a>&nbsp &nbsp &nbsp &nbsp
        <a class="nav-link" href="{% url "forecast_facebook" %}">FACEBOOK_FORECAST</a>&nbsp &nbsp &nbsp &nbsp
        <a class="nav-link" href="{% url "forecast_apple" %}">APPLE_FORECAST</a>&nbsp &nbsp &nbsp &nbsp
        <a class="nav-link" href="{% url "user_google" %}">GOOGLE</a>&nbsp &nbsp &nbsp &nbsp
        <a class="nav-link" href="{% url "user_cisco" %}">CISCO</a>&nbsp &nbsp &nbsp &nbsp
        <a class="nav-link" href="{% url "user_facebook" %}">FACEBOOK</a>&nbsp &nbsp &nbsp &nbsp
        <a class="nav-link" href="{% url "user_apple" %}">APPLE</a>&nbsp &nbsp &nbsp &nbsp
        <a class="nav-link" href="{% url "news" %}">NEWS</a>&nbsp &nbsp &nbsp &nbsp
        <a class="nav-link" href="{% url "logout" %}">LOGOUT</a>&nbsp &nbsp &nbsp &nbsp
    </ul>
  </div>
  {% if user.is_authenticated %}
  <h1><b>Hi {{ user.username }}!</b></h1>
  {% endif %}
<br><br>
<h2>CISCO FORECASTING</h2>
{% autoescape off %}
{{ fig1 }}
{% endautoescape %}
<h2>CISCO STOCKS</h2>
{% autoescape off %}
{{ fig2 }}
{% endautoescape %}
</body>
</html>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a:link {
  color:gray;
}

a:visited {
  color: yellow;
}

a:hover {
  color: red;
}

a:active {
  color: blue;
}
.nav
{
  background-color:black;
  width:auto;
}
.div3
{
  background-color:black;
  opacity:0.9;
  border: 3px outset red;
  width:auto;
}


</style>
